<?xml version="1.0" encoding="utf-8"?>
<packages>
  
  <!-- Microsofts OWIN Implementation -->
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net471" />
  
  <!-- Microsoft OWIN Host und Hosting Bindings (HttpListener) -->
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net471" />
  
  <!-- OWIN Interface -->
  <package id="Owin" version="1.0" targetFramework="net471" />

</packages>